body,
html {
  margin: 0 auto;
  padding: 0;
  box-shadow: none;
  color: #efedf1;
  background: linear-gradient(to bottom, transparent, rgb(12, 9, 17)) rgb(12, 9, 17);
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.logo img {
  width: 100px;
  height: 60px;
}

.why-choose-bitvora {
  background: linear-gradient(289.08deg, rgba(49, 43, 59, 0.1) 23.9%, rgba(12, 9, 17, 0.1) 95.21%);
}

.pricing-list {
  list-style-type: none;
}
.pricing-list li {
  text-indent: -1em;
  padding-left: 1.5em;
}
.pricing-list li::before {
  content: '•';
  padding-right: 0.5em;
}
